{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="display-3">
            Can you find the hidden Animals?
        </div>
        {% if camo_average %}
        To find the camouflaged animals, it took you an average of {{ camo_average }} seconds.
        <br>
        To find the exposed animals, it took you an average of {{ expose_average }} seconds.
        <br>
        <input type="button" value="Play again?" onClick="window.location.reload();"/>
        {% endif %}

        {% if animal %}
        <div class="display-5">
            Try to find the {{ animal.name }}
        </div>
        <div class="display-6">
            You are on animal {{ count }} of {{ total }}
        </div>
        <img src="{{ url_for('static', filename=animal.filepath) }}" onClick="window.location.reload();"/>
        {% endif %}
    </div>
    Please find source at: <a href="https://github.com/ThePrankMonkey/flask-animal-camouflage">ThePrankMonkey/flask-animal-camouflage</a>
{% endblock %}
